<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/static/schedule/schedule.css}">
    <script th:src="@{/static/schedule/schedule.js}"></script>
</head>
<body>
    <select name="group-select">
        <option value="default">Группа</option>
        <option th:each="group : ${groups}" th:value="${group}" th:text="${group}"></option>
    </select>
    <div class="week-number-select-container">
        <input class="prev-button" type="button" value="<<"/>
        <div class="text-middle">
            <p class="current-week-number">1</p>
        </div>
        <input class="next-button" type="button" value=">>"/>
    </div>
    <div class="schedule-container">
        <div th:replace="~{ fragments/scheduleDayFrag::scheduleDay('Понедельник')}"></div>
        <div th:replace="~{ fragments/scheduleDayFrag::scheduleDay('Вторник')}"></div>
        <div th:replace="~{ fragments/scheduleDayFrag::scheduleDay('Среда')}"></div>
        <div th:replace="~{ fragments/scheduleDayFrag::scheduleDay('Четверг')}"></div>
        <div th:replace="~{ fragments/scheduleDayFrag::scheduleDay('Пятница')}"></div>
        <div th:replace="~{ fragments/scheduleDayFrag::scheduleDay('Суббота')}"></div>
    </div>
    <!-- <div sec:authorize="hasAuthority('student')">
        <p>Студент</p>
    </div> -->
</body>
</html>